.contents-main
  - hobbies.each_with_index do |hobby,n|
    - if user_signed_in?
      = render 'templates/content-info', hobby: hobby, genre: @genre, fav_list: @fav_list[n]      
    - else
      = render 'templates/content-info', hobby: hobby, genre: @genre