//コンテンツプレビュー画面のスタイル設定

.contents-list{
  @include set_box_size(170px,225px);
  background: rgba(218,166,163,0.8);
  border: 1px solid rgba(218,166,163,0.8);
  margin: 10px;
  padding: 5px;
  color:#000000;
  border-radius: 10px;
  @include set_boxes_to_horizontal(space-between);
  flex-direction: column;

  &__cnt{
    &__factor{
      @include set_box_size(160px,120px);
    }

    &__title{

      &__no-smnl{
        margin-top: 30px;
        @include set_boxes_to_horizontal(center);

        &-link{
          color: #6ADA92;
          text-decoration: none;
        }
      }

      &__comment{
        font-size: 12px;
        text-align: center;
      }
    }
  }

  &__info{
    font-size: 14px;
  }

}
