//コンテンツ再生画面のスタイル設定
.content{
  padding: 10px;
  // background-color: #FFFFEE;
  color: $font-color;

  &__upper{
    display: flex;
    margin-bottom: 10px;

    &__title{
      font-size: 30px;
    }

    &__info{
      margin-left: 40px;

    }
  }

  &__wrap{
    @include set_boxes_to_horizontal(space-between);

    &__player{
      height: 80%;
    }

    &__youtube-api{
      width: $youtube_width;
      height: $youtube_height;
      flex-wrap: wrap;
      overflow: scroll;

      &__comment{
        margin-bottom: 10px;
      }

      &__item{
        
        &__title{

          font-size: 14px;
        }

        &__channel{
          font-size: 12px;
        }
      }
    }  
  }
}


.mylist{
  
  &__btn{
    
    &__add, &__remove{
      display: none;
    }
  }
}