//共通のスタイル設定
* {
  box-sizing: border-box;
}

.active{
  display: block !important;
}

.hidden{
  display: none;
}

body{
  background-image: image-url('seiun19201080.jpg');
  background-size:cover;
  // background-position: 0px -250px;
  height:100vh
}

//タイトル画面のスタイル設定
.header{
  width: 100%;
  height: 60px;
	font-size:35px;
  text-align:center;
  

	line-height:0.95em;
	font-weight:bold;
	color: #FFAB91;
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);


  line-height: 60px;
  text-align: center;
  display: fixed;

  // background-color:#FFD54F;
	// background:linear-gradient(#FFD54F,#FFA000);
}
// .header::after {
// 	content: '';
//   @include set_box_size(100%,100%);
// 	display:block;
// 	background-size: 20px 20px;
// 	background-image:
// 	 linear-gradient(rgba(255,255,255,.25) 3%, rgba(255,255,255,.25) 3%, transparent 3%,
// 	  transparent 97%, rgba(255,255,255,.25) 97%, rgba(255,255,255,.25) 100%),
// 	 linear-gradient(90deg, rgba(255,255,255,.25) 3%, rgba(255,255,255,.25) 3%, transparent 3%,
// 	  transparent 97%, rgba(255,255,255,.25) 97%, rgba(255,255,255,.25) 100%);
// }


//コンテンツ表示領域の基本スタイル設定
.contents-main{
  width: 100vw;
  height: calc(100vh - 120px);

  // background-image:linear-gradient(-45deg, #f9f8f7 25%, #ffffff 25%, #ffffff 50%, #f9f8f7  50%, #f9f8f7 75%, #ffffff 75%, #ffffff);

  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  
}

//サイトトップ及びマイリストトップのジャンル選択のスタイル設定
.main{
  &__text{
    font-size: 25px;
    margin-bottom: 40px;
    color: $font-color;
  }
}

//ジャンル選択画面のスタイル設定
.home-select{
  margin-bottom: 50px;

  &__list{
    
    font-size: 30px;
    color: $font-color;
    text-decoration: none;

    position: relative;
    padding: 10px 100px 10px 40px;
    border:solid 1px $label-color;
    border-radius: 50px;
    font-weight: bold;
    z-index: 1;
  
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include set_box_size(100%,100%);
      background-color:$label-color;
      border-radius: 50px;
      opacity: 0.6;
      z-index: -1;
      transform: translate(10px, -10px);
      transition: transform 0.5s;
    }

    &:hover:before{
      transform: translate(-0, 0);
      opacity: 1;
    }
  }
  
}
